@import "tailwindcss";

:root {
  --background: #EAE6D1;
  --foreground: #3A4B3C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-zentra-bg: #EAE6D1;
  --color-zentra-primary: #3A4B3C;
  --color-zentra-accent: #D2CB96;
  --color-zentra-accent-hover: #C5B87D;
  --color-zentra-light: #F9F8F1;
  
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif), serif;
  --font-script: var(--font-script), cursive;
  --font-sahitya: var(--font-sahitya), serif;
  --font-segoe: "Segoe Script", cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
